.container{
/* Group 2 */

  position: absolute;
  width: 450px;
  height: 450px;
  left: 300px;
  top: 190px;
  border: transparent;
  border-radius: 30px;
  background: linear-gradient(106.12deg, rgba(255, 255, 255, 0.4) -4.46%, rgba(255, 255, 255, 0) 102.72%);
  border: 1px solid;
  border-image-source: linear-gradient(105.39deg, rgba(255, 255, 255, 0.7) -4.74%, rgba(255, 255, 255, 0) 101.52%);
}

h1{
  display: flex;
  margin-top: 45px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 46px;
  color: #FFFFFF;
  padding: 15px;
  letter-spacing: .1rem;
}

.container-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-form input{
  margin: 10px;
}

.container-subForm{
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkBox{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 60px 0px 0px;
}

.container-subForm div input{
  border-radius: 12px;
  border: transparent;
  opacity: 0px;
  background: linear-gradient(106.12deg, rgba(255, 255, 255, 0.4) -4.46%, rgba(255, 255, 255, 0.2) 102.72%);
  border-image-source: linear-gradient(105.39deg, rgba(255, 255, 255, 0.7) -4.74%, rgba(255, 255, 255, 0) 101.52%);
  box-shadow: 5px 5px 10px 0px #0000000D;
}

.container-form input{
  width: 320px;
  font-style: italic;
  /* font-size: ; */
  height: 60px;
  top: 551px;
  left: 436px;
  gap: 2px;
  text-align: left;
  border-radius: 12px;
  border: transparent;
  opacity: 0px;
  box-shadow: 5px 5px 10px 0px #0000000D;
  outline: 0;
  padding: 0px 0px 0px 20px;
  background: linear-gradient(106.12deg, rgba(255, 255, 255, 0.4) -4.46%, rgba(255, 255, 255, 0.2) 102.72%);
  border-image-source: linear-gradient(105.39deg, rgba(255, 255, 255, 0.7) -4.74%, rgba(255, 255, 255, 0) 101.52%);
}



