.Ellipse1 {
  /* Ellipse 1 */

  position: absolute;
  width: 1000px;
  height: 800px;
  left: -100px;
  top: 450px;
  border-radius: 50%;
  background: #ff4f4f;
  filter: blur(200px);
  z-index: 0;
}

.Ellipse3 {
  /* Ellipse 3 */

  position: absolute;
  width: 1000px;
  height: 800px;
  left: 1300px;
  top: -50px;
  border-radius: 50%;
  background: #ffcf30;
  filter: blur(200px);
  z-index: 0;
}

.Ellipse2 {
  /* Ellipse 2 */
  position: absolute;
  width: 1000px;
  height: 800px;
  left: 700px;
  top: -117px;
  border-radius: 50%;
  background: #ffa53a;
  filter: blur(200px);
  z-index: 0;
}

.Ellipse5 {
  /* Ellipse 5 */

  position: absolute;
  width: 1000px;
  height: 800px;
  left: 700px;
  top: 400px;
  border-radius: 50%;
  background: #f371ff;
  filter: blur(200px);
  z-index: 0;
}

.Ellipse4 {
  /* Ellipse 4 */

  position: absolute;
  width: 1000px;
  height: 800px;
  left: -100px;
  top: -200px;
  border-radius: 50%;
  background: #9a76ff;
  filter: blur(200px);
  z-index: 0;
}

.Ellipse6 {
  /* Ellipse 6 */

  position: absolute;
  width: 1000px;
  height: 800px;
  left: 1300px;
  top: 450px;
  border-radius: 50%;
  background: #ff9886;
  filter: blur(200px);
  z-index: 0;
}
