
.Ellipse1{
  /* Ellipse 1 */
  
  position: absolute;
  width: 923px;
  height: 923px;
  left: -100px;
  top: 200px;
  background: #FF4F4F;
  filter: blur(150px);
  }
  
  .Ellipse3{
    /* Ellipse 3 */
  
  position: absolute;
  width: 923px;
  height: 923px;
  left: 500px;
  top: -50px;
  background: #FFEA30;
  filter: blur(150px);
  }
  
  .Ellipse2{
  /* Ellipse 2 */
  position: absolute;
  width: 923px;
  height: 923px;
  left: 514px;
  top: -117px;
  background: #FFA53A;
  filter: blur(150px);
  }
  
  .Ellipse5{
    /* Ellipse 5 */
  
  position: absolute;
  width: 700px;
  height: 700px;
  left: 500px;
  top: 400px;
  background: #71AAFF;
  filter: blur(150px);
  }
  
  .Ellipse4{
    /* Ellipse 4 */

  position: absolute;
  width: 700px;
  height: 700px;
  left: -100px;
  top: -200px;
  background: #9A76FF;
  filter: blur(150px);
  }
  
  
  .Ellipse6{
    /* Ellipse 6 */

  position: absolute;
  width: 992px;
  height: 992px;
  left: 1152px;
  top: -186px;
  background: #86E9FF;
  filter: blur(150px);
  }
  
  