.container-admin{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.menu{
  width: 350px;
  border-radius: 20px;
  background: linear-gradient(106.12deg, rgba(255, 255, 255, 0.4) -4.46%, rgba(255, 255, 255, 0) 102.72%);
  border-image-source: linear-gradient(105.39deg, rgba(255, 255, 255, 0.7) -4.74%, rgba(255, 255, 255, 0) 101.52%);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.menu p{
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.menu p:focus{
 color: blanchedalmond;
}

.menu p:hover{
  cursor: pointer;
  color: rgba(194, 32, 32, 0.4);
}

.control-panel{
  width: 80%;
  height: 80%;
}

.control-panel img{
  width: 20px;
  height: 20px;
}

.titlesInPanelControl{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.control-panel a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 20px;
}

.control-panel p{
  width: 200px;
  display: flex;
  justify-content: flex-start;
}

.control-panel-footer{
  width: 80%;
}

.control-panel-footer img{
  width: 20px;
  height: 20px;
}

.control-panel-footer a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 20px;
}

.control-panel-footer p{
  width: 200px;
  display: flex;
  justify-content: flex-start;
}

.control-panel h1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  color: antiquewhite;
  font-size: 36px;
}

.container-datasQuiz{
  width: 100%;
  height: 100%;  
  display: flex;
  padding-left: 20px;
  flex-wrap: wrap;
}

.info-admin{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 30%;
}

.perfil-admin{
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.photo{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.photo img{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.Welcome-Admin{
  padding-left: 20px;
}

.Welcome-Admin h1{
  font-size: 38px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.Welcome-Admin a{
  font-family: sans-serif;
  font-weight: 200;
  color: aliceblue;
  word-spacing: 2px;
}

.buttons-info{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}

.buttons-info button{
  width: 45px;
  border-radius: 60%;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
}

.info-users{
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(104deg, rgba(194, 32, 32, 0.4) -4.8%, rgba(249, 0, 0, 0.1) 101.14%);
  border-image-source: linear-gradient(104.45deg, rgba(166, 0, 0, 0.1) 0%, rgba(163, 0, 0, 0) 100.63%);
  box-shadow: 5px 5px 10px 0px #0000000D;
  border-radius: 20px;
}

.table-container{
  width: 100%;
  height: 45%;
  background: linear-gradient(104deg, rgba(255, 255, 255, 0.4) -4.8%, rgba(217, 217, 217, 0.2) 101.14%);
  border-image-source: linear-gradient(104.45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100.63%);
  box-shadow: 5px 5px 10px 0px #0000000D;
  border-radius: 20px;
  border: 1px solid white;
  border-image-source: linear-gradient(104.45deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100.63%);
}

.visualizations{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 33%;
  height: 100%;
}

.visualizations button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  clip-path: circle(50%);
}

.visualizations button img{
  width: 35px;
}

.visualizations div p{
  font-family: sans-serif;
  font-weight: 200;
  margin: 0 auto;
  font-size: 15px;
}

.table-container{
  height: 45%;
  display: flex;
}