.container-admin{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.menu{
  width: 300px;
  border-radius: 20px;
  background: linear-gradient(106.12deg, rgba(255, 255, 255, 0.4) -4.46%, rgba(255, 255, 255, 0) 102.72%);
  border-image-source: linear-gradient(105.39deg, rgba(255, 255, 255, 0.7) -4.74%, rgba(255, 255, 255, 0) 101.52%);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.menu p{
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

.control-panel{
  width: 80%;
  height: 80%;
}
